<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<select id="selectMemberCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE STATUS = '0'
	</select>
	
	<select id="selectMemberList" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE STATUS = '0'
	</select>
	
	<update id="blackMember" parameterType="string">
		UPDATE MEMBER
		SET STATUS = '3'
		WHERE USER_ID = #{userId}
	</update>
	
	
</mapper>
